In [3]:
n =int(input())
if (n%5==0):
    print('it is 5 multiple')
else:
    print('it is not 5 mulple')

123456785
it is 5 multiple

## Looping Statemets
- To perform a task multiple times
- in python , for and while only
### For loop
- ```for i in range():
        # body of the loop```

In [4]:
range(10)

range(0, 10)

In [5]:
range(1,10)

range(1, 10)

In [6]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [10]:
for i in range(10):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,

In [11]:
for y in range(1,10):
    print(y,end=' ')

1 2 3 4 5 6 7 8 9

In [12]:
for a in range(1,10,2):
    print(a,end=' ')

1 3 5 7 9

In [13]:
for b in range(0,15,2):
    print(b,end=' ')

0 2 4 6 8 10 12 14

In [15]:
## generate 5 or 10 multiples upto 10
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [16]:
# generate a math table for a given number
# input:enter a no to generate matn table:12
#output:12*1=12
#        12*2=24....12*10=120
a=int(input('enter a number to print a table:'))
for n in range(1,11):
    print(a,"*",n,"=",a*n)

enter a number to print a table:12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [17]:
## task1: generate math tables from upto given range
## input: 5
# 2,3,4,5 tables

#### while loop
``` i=0
while(cond):
#body of the loop
increment/decrement```

In [1]:
i=1
while(i<=10):
    print(i)
    i+=1
print(i)

1
2
3
4
5
6
7
8
9
10
11

### Jump Statements:
- by using these statements we will terminate(exit) the loop
- those are break and continue
- break: break state will termonate the loop per
- continue: it will terminte for instant time only

In [2]:
for i in range(100):
    if(i==51):
        break
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [5]:
for j in range(1,101):
    if(j%5==0):
        continue
    print(j,end=' ')

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

In [ ]:
#task2: generate even number upto 100(use range with 3 args)
#input: enter start value:5
#ouptpu:6,8,10,...,100